<h1>ご投稿ありがとうございました</h1>
<h4><%= @howl.user.name %>&nbsp;様</h4>
<p>この度はHowlにご登録頂き、誠にありがとうございます。<br>ブログの作成が完了しました。</p>

<div>
  <p>=========================================</p>
  <h4>ご投稿内容の確認</h4>
  <p><%= @howl.content %></p>
  <p>=========================================</p>
</div>

<p>※このメールは送信専用メールです。内容に関するご質問・お問い合わせには対応しておりません。</p>
<h4>Howl運営事務局</h4>
