<div class="editting_form container">
    <h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>詳細確認</h1>

    <div class="editting_column">
        <div class="action_order">OWLメッセージがたくさん来ると良いですね</div>
        <div class="content_check_msg"><%= @howl.content %></div>
    </div>

    <div class="move_pages">
        <p><%= link_to "一覧に戻る", howls_path, class: "move_pages_function" %></p>
        <p>
          <% unless @howl.user == current_user %>
            <% if @favorite.present? %>
              <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'お気に入りする', favorites_path(howl_id: @howl.id), method: :post, class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </p>
    </div>



</div>
