<h1>お問い合わせありがとうございました</h1>
<h4><%= @contact.name %>&nbsp;様</h4>
<p>この度はHowlにご登録頂き、誠にありがとうございます。<br>お問い合わせに関しましては、弊社担当者より早急にご連絡差し上げます。<br>今しばらくお待ちくださいませ。</p>

<div>
  <p>=========================================</p>
  <h4>お問い合わせ内容の確認</h4>
  <p><%= @contact.content %></p>
  <p>=========================================</p>
</div>

<p>※このメールは送信専用メールです。内容に関するご質問・お問い合わせには対応しておりません。</p>
<h4>Howl運営事務局</h4>
